#uis_form {

  #tabs {
    margin-top: 0;

    .ui-tabs-nav {
      display: none;
    }

    .ui-tabs-panel {
      border: 0;
      padding-top: 0;
    }

  }

  .sui-text {
    min-width: 400px;
  }

  .select2-selection__rendered {
    min-width: 220px;
  }

  .adviser {

    ul {
      list-style-position: outside;
      margin-left: 20px;

      li {

        list-style: circle;

      }

    }

  }

}